.main_body_c {background-color: #FF55A9;}

.main_page {height: 100%;}
.top_border {border-top:3px groove #a1a1a1;}
.input-group-addon {background-color: rgb(50, 118, 177); border-color: rgb(40, 94, 142); color: rgb(255, 255, 255);}
.form-control:focus {background-color: rgb(50, 118, 177); border-color: rgb(40, 94, 142); color: rgb(255, 255, 255);}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }
footer{background-color: #0094D0; color: #ffffff;'}